.dropdown {
  position: relative;
  display: inline-block;

  &.fill {
    width: 100%;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem 1rem;
  background: #222;
  border: 1px solid #333;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  width: 100%;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 0 3px rgba(136, 136, 136, 0.6);
  }

  .chevron {
    transition: 0.15s ease;

    &.flipped {
      transform: rotate(180deg);
    }
  }
}

.options {
  margin-top: 0.25rem;
  background: #1c1c1c;
  border: 1px solid #333;
  border-radius: 0.5rem;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.option {
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  color: #fff;
  cursor: pointer;

  &:hover,
  &.active {
    background: #333;
  }

  &.selected {
    font-weight: bold;
    color: #ddd;
  }
}
