.page {
  position: relative;
  min-height: 100svh;

  .main {
    z-index: 0;
    position: relative;
    width: 100%;
    min-height: 100svh;
    padding: 2rem 1rem;

    .wrapper {
      display: flex;
      gap: 1rem;
      position: relative;
      width: 100%;
      max-width: 1920px;
      margin: 0 auto;
      box-sizing: content-box;
    }

    .sidebar {
      flex-shrink: 0;
      width: 24rem;

      .stickyWrapper {
        position: sticky;
        top: 6rem;
      }

      .title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
        margin-left: 0.5rem;
      }

      .button {
        margin-top: 1rem;
      }

      @media (max-width: 75rem) {
        display: none;
      }
    }

    .list {
      width: 100%;
    }
  }
}

.hr {
  border: none;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    #222 20%,
    #555,
    #222 80%,
    transparent
  );
  background-size: 200% 100%;
  background-position: 0% 0%;
  opacity: 0.6;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
}

.hiddenInput {
  display: none;
}

.textarea {
  z-index: 1;
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
  padding: 16px;
  border-radius: 1rem;
  background-color: var(--gray-alpha-200);
  color: var(--gray-rgb);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  resize: none;

  background: #050505;
  border: 4px solid #222;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 1.25rem;

  > .button {
    width: 100%;
  }
}
