.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.profileNameWrapper {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;

  margin-bottom: 1rem;

  .cell {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .name {
      opacity: 0.5;
      font-size: 0.875rem;
      padding-left: 0.5rem;
      padding-right: 1.5rem;
    }
  }

  .cell:has(.dropdown, .button) {
    flex-shrink: 0;
  }

  .cell:has(.input) {
    width: 100%;
  }

  .button {
    flex-shrink: 0;
  }

  .dropdown {
    flex-shrink: 0;
  }
}

.inputWrapper:has(.profileNameWrapper) {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.error {
  color: #ff7070;
  font-size: 0.875rem;
}

.subtitle {
  opacity: 0.5;
  font-size: 0.875rem;
}

.stages {
  margin-top: 1.5rem; /* mt-6 */

  .title {
    font-size: 1.125rem; /* text-lg */
    font-weight: 600; /* font-semibold */
    margin-bottom: 0.5rem; /* mb-2 */
    color: #e0e0e0;
  }
}

.stagesList {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* space-y-4 */
}

.stage {
  border: 1px solid #333;
  border-radius: 0.375rem; /* rounded */
  padding: 0.75rem; /* p-3 */
  background-color: #1e1e1e;
  color: #ccc;
}

.stageTitle {
  font-weight: 500; /* font-medium */
  margin-bottom: 0.5rem;
  color: #9fcfff;
}

.rangesList {
  list-style: disc inside;
  font-size: 0.875rem; /* text-sm */
  color: #ccc;
  margin: 0;
  padding-left: 1.2rem;
}

.rangesList li {
  margin-bottom: 0.25rem;
}
